.film {
  display: flex;
  border: 1px solid white;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  font-size: 16px;
  position: relative;
}

.film:hover {
  background-color: rgba(240, 248, 255, 0.099);
}

.numer {
  color: darkblue;
  background-color: aliceblue;
  position: absolute;
  left: 20px;
  min-width: 15px;
  border-radius: 5px;
  padding: 0 1px;
}

.title {
  display: flex;
  justify-content: space-between;
}

.desc {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  gap: 5px;
  margin-left: 20px;
  margin-right: auto;
  text-align: start;
  width: 50%;
  background-color: initial;
}

.shortDescription {
  justify-self: end;
  margin-top: 3px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 20px;
}

.poster {
  margin-left: 40px;
  width: 72px;
  height: 108px;
  object-fit: cover;
}

.mainInfo {
  font-size: 12px;
}

.secondInfo {
  font-size: 16px;
  justify-self: end;
  margin-bottom: auto;
}

.rating {
  margin-right: 30px;
}

.rating p {
  text-align: right;
}

.seriesTitle {
  max-width: 60px;
  max-height: 1.5rem;
  border: 1px solid white;
  border-radius: 6px;
}
