.back {
  position: fixed;
  width: 100px;
  height: 33px;
  top: 0;
  left: 0;
  /* border-radius: 50px; */
  background-color: rgb(255, 97, 149);
  color: blue;
}

.content {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.mainColumn {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.trailer {
  align-self: center;
}

.gap {
  min-width: 15px;
  content: '&nbsp';
  box-sizing: border-box;
}

.mainColumn p {
  /* border-top: whitesmoke solid 1px; */
  text-align: justify;
}

.mainColumnRight {
  width: 600px;
}

.row {
  font-size: 12px;
  width: 100%;
  display: flex;
  margin: 10px 0;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.198);
  height: 1.5rem;
  /* overflow: hidden; */
  gap: 50px;
  padding: 0 2px;
}

.row .leftColumn {
  min-width: 150px;
  /* margin-right: 35px; */
  overflow: unset;
  text-align: left;
  line-height: 1.5rem;
}

.row .rightColumn {
  /* padding: 2px; */
  overflow: hidden;
  text-align: justify;
  line-height: 1.5rem;
}

.column > h1,
.column > p {
  display: block;
  text-align: left;
  align-self: flex-start;
  margin: 0 0 10px 10px;
}
.rightColumn p {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* padding-right: 10px; */
  /* border-top: none; */
}

.footageCarousel {
  display: flex;
  height: 400px;
  overflow-x: hidden;
}

.footageItems {
  height: 100px;
}

.age {
  border: 1px solid white;
  line-height: 1rem;
  vertical-align: middle;
  margin-top: 4px;
}
.age p {
  border-top: 1px solid white;
}

.kpBtn {
  /* display: inline-block; */
  height: 50px;
  border-radius: 25px;
  font-size: 1.2rem;
  padding: 0 8px 0 15px;
  line-height: 1.5rem;
  vertical-align: middle;
  border: none;
  margin: 15px;
  transition: all 0.2s;
  background-color: aliceblue;
}
.kpBtn:hover {
  cursor: pointer;
  background-image: linear-gradient(0.35turn, #ff8c3a 80%, #ffce1b);
  transform: scale(1.03);
}
.kpBtn img {
  display: inline-block;
  width: 36px;
  border-radius: 18px;
  object-fit: contain;
  margin-top: 5px;
  margin: auto 0;
  top: 5%;
  vertical-align: middle;
}
.kpBtn p {
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 5px;
  border: none;
}

.description {
  border-top: 1px solid white;
}
