.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: whitesmoke;
  color: rgb(18, 44, 67); */
  position: relative;
}
.contentWrapper {
  display: flex;
  justify-content: center;
}

.content {
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}
